.bg-timeline-image {
  background: url("../img/Terrible/timeline.jpg");
  background-position: center;
  background-size: cover;
}
.logout{
    top: 8px;
  right: 105px;
  font-size: 18px;
        }
.home{
    top: 8px;
  right: 212px;
  font-size: 18px;
        }